# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
*.old

# Configs locais
.env
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter (caso use)
.ipynb_checkpoints/

# Arquivos de build
build/
dist/
*.egg-info/
